{% extends 'layout.html'%}

{% block body %}
    <h1>Min första sida här</h1>

    <br> 

    <div class="card-title">
        Såhär kan det se ut
    </div>

    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://www.google.com/search?q=free+images+dream+team&tbm=isch&ved=2ahUKEwjchseV3pr3AhWHw4sKHd-jAMkQ2-cCegQIABAA&oq=free+images+dream+team&gs_lcp=CgNpbWcQAzoHCCMQ7wMQJzoFCAAQgAQ6BggAEAcQHjoECAAQHjoECAAQEzoICAAQCBAeEBM6BggAEAgQHlDyBFj5ImDDJGgBcAB4AIABQYgBygWSAQIxM5gBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=WNdbYtz6PIeHrwTfx4LIDA&bih=1287&biw=1278&client=avast-a-2#imgrc=DIjNIsoeyHPCxM"/>
            <h2>This is Dream Team!</h2>
            <p>We are working for a better life on a daily basis!</p>

        </div>
    </div>

{% endblock %}